header, section, h1, main, p, aside, nav, article{
    display: block;}
body{
    background-color: papayawhip;
    color: blue;
    padding: 20px;
    font-family: fantasy;}
.wrapper{
    width:940px;
    margin: 20px auto 20px auto;
    border:2px solid #000000;
    background-color: #ffffff;}
header{
    height:160px;
    background-color: #66cdaa;}
h1{
    color:rgb(100, 0, 65);
    font-size:xx-large;
    text-align: center;
    height: 80px;
    padding: inherit;}
nav{
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    margin-right: 40px;
    height: 30px;}
p{
    padding:10px;
    margin:5px;
    display:block;
    width:800px;
    height:100px;}
p.first{
    background-color: hlsa(330, 100%, 100%, 0.5);
    background-color: rgb(86, 203, 19);
    font-style: italic  ;
    opacity: 0.5;
}
p.second{
    background-color: hsl(180, 50%, 60%);
    font-size: larger;
}
p.third{
    background-color: rgba(200, 55, 33, 0.8);
}
aside{
    background-color: rgba(200, 33, 117, 0.8);
    padding: 5px;
    width: 300px;
    height: 450px;
    position: absolute;
    left:850px;
}