header, section, h1, main, p, aside, nav, article{
    display: block;}
body{
    background-color: papayawhip;
    color: blue;
    padding: 20px;
    font-family: fantasy;}
header{
    height:160px;
    margin-bottom: 10px;
    background-color: inherit;}
h1{
    color:rgb(168, 27, 27);
    background-color: #66cdaa;
    background-image: url(https://cdn.pixabay.com/photo/2020/05/21/20/14/birds-5202523_960_720.png);
    font-size:xx-large;
    text-align: center;
    height: 40px;
    padding: 30px;
    word-spacing:20px;}
nav{
    color: #ffffff;
    background-color: #aeaca8;
    height: 20px;
    word-spacing: 50px;
    padding: 10px;
    }
a:link{
    text-decoration: none;
}
p{
    padding:10px;
    margin:5px;
    width:1100px;
    height:150px;}
#first{
    background-color: hlsa(330, 100%, 100%, 0.5);
    background-color: rgb(86, 203, 19);
    font-style: italic;
    opacity: 0.5;
}
p.second{
    background-color: hsl(180, 50%, 60%);
    font-size: larger;
}
p.third{
    background-color: rgba(200, 55, 33, 0.8);
}
aside{
    background-color: rgba(200, 33, 117, 0.8);
    padding: 5px;
    width: 240px;
    height: 508px;
    position: fixed;
    top:220px;
    left:1160px;

}
